<div class="container">
    <br>
    <h1 style="text-align: center">{{h1}}</h1>
    <h5 style="text-align: center">{{h5}}</h5>
    <br>
    <div class="row">
        {{#each recipes}}
        <div class="col-md-6 col-lg-4 col-xl-3 py-2" id="{{this.name}}">
            <div class="card">
                <div class="card-block text-center">
                    <h4 class="card-title">{{this.name}}</h4>
                    <p class="card-text">{{this.meal}} | {{this.rating}}/5 stars | {{this.minutes}}
                        minutes</p>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/recipe/{{this._id}}" class="card-link">
                        Instructions & Ingredients
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>