<div class="container m-auto text-center">
    <br>
    <h1>{{recipe.name}}</h1>
    <h4>{{recipe.meal}} | {{recipe.rating}}/5 stars | {{recipe.minutes}} minutes | id: {{recipe._id}}
    </h4>
    <br>
    {{#if recipe.description}}
    <h3><u>Description:</u></h3>
    <p>{{recipe.description}}</p>
    {{/if}}
    <br>
    <h3><u>Ingredients:</u></h3>
    {{#each recipe.ingredients}}
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label h5" for="defaultCheck1">
            {{this}}
        </label>
    </div>
    {{/each}}
    <br>
    <h3><u>Instructions:</u></h3>
    {{#each recipe.instructions}}
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label h5" for="defaultCheck1">
            {{this}}
        </label>
    </div>
    {{/each}}
    <br>
    <br>
</div>