<br>
<div class="container m-auto">
    <h1 align = "center">{{recipe.name}}</h1>
    <h2 align = "center">{{recipe.meal}} | {{recipe.rating}}/5 stars | {{recipe.minutes}} minutes | id: {{recipe._id}}</h2>
    <br>
    {{#if recipe.description}}
        <h3 align = "center">Description:</h3>
        <h6 align="center">{{recipe.description}}</h6>
    {{/if}}
    <br>
    <h3 align = "center">Ingredients:</h3>
    <ul class="list-group">
    {{#each recipe.ingredients}}
        <li class="list-group-item list-group-item-action">{{this}}</li>
    {{/each}}
    </ul>
    <br>
    <h3 align = "center">Instructions:</h3>
    <ul class="list-group">
        {{#each recipe.instructions}}
            <li class="list-group-item list-group-item-action">{{this}}</li>
        {{/each}}
    </ul>
    <br>
    <br>
</div>
